body {
  background-color:rgb(102, 153, 153);
}
h1 {
  color:black; font-size:36;
  font-family: Arial, helvetica, Calibri; 
}
h2{
  font-size: 24px;color:black
}
.header{
  border: 5px rgb(0, 153, 153) solid;
  padding-left:10px;
  text-align:center;
}

img{
  width:25%;
  Padding-left:210px;
}

.fish{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
